#output{
	box-shadow:inset 1px 1px 4px #000;	
	padding: 3%;
	width: 100%;
	background-color: white;	
}
.container{
	width: 20%;
	padding-top: 3%;
	margin-top:5% ;
	background-color: #D3D3D3;
}

.calulator{
	width: 100%;
	padding: 5%;
}
.row{
	padding: 1%;
}
.row .col-md-3 button{
	width: 50px;
}

}